<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="mmorpgdb" connectionString="Data Source=DBSRV\ag2022;Initial Catalog=mmorpgdb_truhanov007b2;Integrated Security=True"/>
	</connectionStrings>
</configuration>